nav
  .brand JGluhov
  ul
    each item in items
      li
        a.nav-item(router-link="#{item.link}")= item.as

//li
//  a.nav-item(href="#")= home.as
//  .nav-content
//    .nav-sub
//      ul
//        li: a(href="#") Contacts
//        li: a(href="#") Who you are?
//        li: a(href="#") What about you?