normalize()

font-face("Ubuntu", "./../assets/fonts/Ubuntu/Ubuntu-Regular", 400, formats: ttf)
font-face("Ubuntu", "./../assets/fonts/Ubuntu/Ubuntu-Italic", 400, italic, formats: ttf)

body
  font-family "Ubuntu", sans-serif
  font-weight 400